@charset "utf-8";
.bannerBox{width:100%;height:100%;margin:0 auto;overflow:hidden;position:relative;}
.imgBox{width:1920px;}
.kkk{width:1920px;position:relative;float:left; left:50%; margin-left:-960px;}
.jule_tu{width:100%;height:100%;background-image:url(../images/ju02.jpg);background-repeat:no-repeat;background-position:top center;background-size:cover;}
.jule_tu_content{width:1000px;margin:0 auto;}
.julebu{padding-top:40%;height:300px;}
.liulan{background-image:url(../images/sanjiao.png);background-repeat:no-repeat;background-position:left 10px;padding-left:20px;padding-bottom:243px;cursor:pointer;}
.liulan a{display:block;font-size:14px;line-height:28px;color:#fffeff;}
.liulan a:hover{text-decoration:underline;}
@media(max-width:1400px){
	.julebu{padding-top:30%;height:200px;}
	
	}
